<div class="container mt-5 mb-5">
    <h1>Create new file</h1>
    <form >
    <form class="col-lg-5">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your document name">   
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter the document type">   
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter the document description">   
            </div>
        
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark" [routerLink]="['/create']" >Create</button>
            </div>
        </div>
    </form>
</form>
</div>